doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 好遊 HowYo|台灣旅遊專門眾募平台
    link(rel='stylesheet', href='public/css/styles.css')
    link(rel='icon' type="image/x-icon" href="/images/howyo-favicon.png")
  body
    header
      //--- nav #1 start ---
      .containter
        nav.blackAD
            ul
                li Gracy 大傘面/Light 系列瞬間捲收傘，6/26前下單現折 100 元！一次買兩件再贈防曬手開傘一支！
                    a(href='#') 優惠倒數，即刻搶購
      //--- nav #1 end ---
      
        //--- nav #2 start ---
      .container
        .row.flex-space-between
          a.icon-menu(href="#") menu
          nav
            ul
              li
                  a(href='index.html') 首頁
              li
                  a(href='event.html') 探索
              li
                  a(href='propose.html') 提案
              li
                  a(href='index.html')
                    img(src='/images/Howyo_3_horizon.png'  alt='好遊 HowYo|台灣旅遊專門眾募平台')
              li
                  a(href='#') 搜尋
              li
                  a(href='#') 登錄
              li
                  a(href='#') 註冊  
        //--- nav #2 end ---
        //----- nav #3 start-----
    .container
        .row
          nav
            ul
              li
                  a(href='about-us.html') 原創旅遊
              li
                  a(href='#') 社會公益
              li
                  a(href='#') 好遊選物
              li
                  a(href='contact-us.html') 獨立集資  
        //----- nav #3 start-----
    // header end
